# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "6b86533878998eb98822c24a76079305"
name = "Reels App"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,write_content,read_content,write_files,read_files"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "https://pulsecarttransform.myshopify.com/apps/shoppable-videos"
prefix = "apps"
subpath = "shoppable-videos"
